:root {
    /*déf des couleurs*/
    --blue: #1D3563;
    --blue-dark: #111927;
    --green: #9fef00;
    --green-light: #bbff34;
    --gray: #a4b1cd;
    --gray-light: #eff5ff;
    --white: #fff;
    --black: #1a2332;
    --black-light: #212529;
}

html {
    background-color: var(--blue);
    color: var(--gray-light);
    font-family: sans-serif;
}

footer {
    padding-top: 60px;
    text-align: center;
}

a {
    text-decoration: none;
}

.icon {
    width: 25px;
    border-radius: 2px;
}

.title {
    text-align: center;
}

.presentation {}

.presentation-image {
    float: left;
    padding-left: 60px;
    padding-right: 60px;
}

.presentation-text {
    display: inline;
    text-align: justify;
}